body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #315a5d;
}
a {
  color: #00B7FF;
}
bin-packing-grid::shadow .bin-packing-filler {
    background-color: black;
}
bin-packing-item {
    border: 2px solid black;
    background-color: #c6c6c6;
    overflow: hidden;
    border-radius: 5px;
}
img {
    /*max-width: 100%;*/
    height: inherit;
}


